.user-modal__btn {
  height: 50px;
  color: var(--bs-pink-300);
  background-color: var(--bs-gray-400);
}

.user-modal__save-btn {
  color: var(--bs-pink-300);
  background-color: var(--bs-gray-400);
  padding: 5px 25px;
  position: relative;
}

.user-modal__save-btn i {
  position: absolute;
  top: 9px;
  right: 4px;
}

.user-modal__title {
  color: var(--bs-pink-300);
}

.user-modal__btn-icon {
  color: var(--bs-pink-600);
  font-size: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.user-modal__btn-text {
  font-size: 20px;
}